* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  background-color: #212427;
}
.header ul {
  padding: 0;
  margin: 0;
  display: flex;
  list-style-type: none;
  gap: 16px;
  margin-bottom: 64px;
  padding-left: 150px;
}

.header-logo {
  display: flex;
  color: white;
}

.header-links {
  display: flex;
  color: white;
}

.header,
.placeholder-top,
.footer {
  background-color: #1f2937;
}

.header,
.placeholder-top,
.placeholder-2,
.placeholder-3,
.placeholder-4,
.footer {
  padding-left: 128px;
  padding-right: 128px;
}

.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  padding-left: 300px;
  padding-right: 300px;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 16px;
}

.header-links {
  display: flex;
  justify-content: flex-end;
}

.placeholder-top {
  display: flex;
  color: white;
  padding-bottom: 64px;
  justify-content: center;
  align-items: center;
}

.header-button {
  background-color: #3882f6;
  color: white;
  position: relative;
  width: 86px;
  padding: 5px;
  font-weight: 800;
  border-radius: 5px;
  border: 0;
  margin-top: 16px;
}

.text-placeholder {
  display: flex;
  flex-direction: column;
  padding-right: 16px;
}

.text-placeholder h1 {
  color: #f9faf8;
  font-size: 48px;
  font-weight: bolder;
}

.placeholder-2 {
  display: flex;
  flex-direction: column;
  background-color: white;
  justify-content: center;
  align-items: center;
}

.placeholder-2-header {
  padding-top: 32px;
  padding-bottom: 32px;
}

.card-container {
  display: flex;
  flex-direction: row;
  padding: 16px;
}

.card {
  width: 150px;
  height: 150px;
  padding: 16px;
}

.placeholder-3 {
  display: flex;
  flex-direction: column;
  background-color: #e5e7eb;
}

.placeholder-3 h2 {
  font-size: 26px;
  font-weight: 100;
  padding: 32px;
}

.placeholder-3 p {
  margin-left: auto;
  padding: 16px;
}
.placeholder-4 {
  background-color: white;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.inner-placeholder {
  padding: 16px;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #3882f6;
  margin: 32px;
  color: white;
  border-radius: 10px;
  padding-left: 200px;
  padding-right: 200px;
}

.inner-placeholder button {
  border: 1px solid;
  border-color: white;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  padding: 30px;
}

.image-placeholder {
  flex-grow: 1;
  max-width: 300px;
  max-height: 150px;
}

.image-placeholder {
  flex-grow: 1;
}

.inner-placeholder h3 {
  padding-bottom: 8px;
}

.image-placeholder img {
  width: 350px;
  height: 200px;
  object-fit: cover;
  padding-bottom: 36px;
}
